* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

.encabezado {
  background: black;
  color: white;
  font-size: 1.2rem;
  display: flex;
  justify-content: space-between;
  padding: 8px 30px;
}
.encabezado__body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.encabezado__list {
  display: flex;
  gap: 40px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1.3rem;
}
.encabezado__item {
  color: white;
}
.encabezado__item--superior {
  color: white;
  font-size: 1.5rem;
}
.encabezado--superior {
  font-size: 1.5rem;
}

/* ---- ENCABEZADO P/TABLET ---- */
@media (min-width: 650px) and (max-width: 1000px) {
  .encabezado {
    font-size: 0.8rem;
    padding: 5px 5px;
    justify-content: space-around;
  }
  .encabezado__list {
    gap: 10px;
    font-size: 0.9rem;
  }
  .encabezado__body {
    justify-content: space-around;
  }
  .encabezado__titulo {
    font-size: 2rem;
  }
}
/* ---- ENCABEZADO P/MOVIL ---- */
@media (max-width: 650px) {
  .encabezado__titulo {
    display: none;
  }
  .encabezado__item--superior {
    display: none;
  }
  .encabezado__list {
    display: flex;
    flex-direction: column;
    text-align: end;
    gap: 2px;
    font-size: 0.9rem;
  }
}
.footer__index {
  background: black;
  color: white;
  text-align: center;
  font-size: 1rem;
  line-height: 18px;
  padding: 7px;
}

/* ---- FOOTER P/MOVIL ---- */
@media (max-width: 650px) {
  .footer__index {
    font-size: 0.8em;
  }
}
.main__index {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
  font-size: 2rem;
  background-image: url(../imagenes/fondo-alternativo.jpg);
  background-size: cover;
}

/* ---- MAIN INDEX P/MOVIL ---- */
@media (max-width: 650px) {
  .main__index {
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 100%;
    font-size: 1rem;
    background-image: url(../imagenes/fondo-alternativo.jpg);
    background-size: cover;
  }
}
.main__sobre-nosotros {
  background-image: url(../imagenes/fondo-alternativo.jpg);
  background-size: cover;
}

.section {
  padding: 15px;
}
.section__presentacion {
  padding: 15px;
  text-align: center;
  font-size: 1.3rem;
}
.section__testimonios {
  text-align: center;
  padding-top: 20px;
  font-size: 1.3rem;
}
.section__testimonios--parrafo {
  padding: 10px 0px;
  display: flex;
  justify-content: center;
  gap: 50px;
}
.section__consulta {
  padding-top: 20px;
  text-align: center;
  font-size: 1.3rem;
}

/* ---- MAIN P/ CELU (PAG 2) ---- */
@media (max-width: 650px) {
  .section {
    font-size: 1rem;
  }
  .section__presentacion {
    font-size: 0.9rem;
  }
  .section__testimonios {
    font-size: 0.9rem;
  }
  .section__consulta {
    font-size: 0.9rem;
  }
}
.productos {
  background-image: url(../imagenes/fondo-alternativo.jpg);
  background-size: cover;
}
.productos__titulo {
  padding: 30px;
  text-align: center;
  font-size: 2.5rem;
}

.productos__imgenes {
  display: grid;
  padding: 30px 5px;
  justify-items: center;
  text-align: center;
  font-size: 1.3rem;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: "productos__imagenes--img1 productos__imagenes--img2" "productos__imagenes--img3 productos__imagenes--img4";
}

.productos__imagenes--img1 {
  grid-area: productos__imagenes--img1;
}

.productos__imagenes--img2 {
  grid-area: productos__imagenes--img2;
}

.productos__imagenes--img3 {
  grid-area: productos__imagenes--img3;
}

.productos__imagenes--img4 {
  grid-area: productos__imagenes--img4;
}

/* ---- MAIN PRODUCTOS - PARA TABLET ---- */
@media (min-width: 650px) and (max-width: 1000px) {
  .productos__imgenes img {
    width: 200px;
  }
  .productos__imgenes {
    font-size: 1.2rem;
  }
}
/* ---- MAIN PRODUCTOS - PARA MOVIL ---- */
@media (max-width: 650px) {
  .productos__imgenes {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    gap: 30px;
  }
  .productos__imgenes img {
    width: 180px;
  }
  .productos__titulo {
    font-size: 1.5rem;
  }
}
.servicios {
  background-image: url(../imagenes/fondo-alternativo.jpg);
  background-size: cover;
}
.servicios__titulo {
  padding: 30px;
  text-align: center;
  font-size: 2.5rem;
}

.figure-servicios {
  display: grid;
  gap: 20px;
  padding: 30px 5px;
  justify-items: center;
  text-align: center;
  font-size: 1.3rem;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: "servicio1 servicio2" "servicio3 servicio4";
}

.servicio1 {
  grid-area: servicio1;
}

.servicio2 {
  grid-area: servicio2;
}

.servicio3 {
  grid-area: servicio3;
}

.servicio4 {
  grid-area: servicio4;
}

/* ---- MAIN SERVICIOS - PARA MOVIL ---- */
@media (max-width: 650px) {
  .figure-servicios {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
  }
  .servicios__titulo {
    font-size: 1.8rem;
  }
}
.contacto {
  background-image: url(../imagenes/fondo-alternativo.jpg);
  background-size: cover;
}
.contacto__titulo {
  font-size: 2rem;
  text-align: center;
  padding: 20px;
}
.contacto__formulario {
  text-align: center;
  line-height: 25px;
  padding: 20px;
}
.contacto__formulario-maps {
  display: flex;
  justify-content: center;
  padding: 20px;
}

/*# sourceMappingURL=styles.css.map */
