* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

h2 {
  padding-top: 20px;
  font-size: rgb(232, 226, 226);
  color: rgb(232, 226, 226);
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.items {
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
  gap: 10px;
  border-bottom: 2px solid rgb(87, 84, 84);
}

.items:hover {
  color: rgb(191, 17, 17);
  font-size: 1.5rem;
  border-bottom: 2px solid rgb(66, 62, 62);
}

.encabezado__titulo {
  color: white;
}

.navbar-toggler-icon:hover {
  width: 2em;
  height: 2em;
}

@media (max-width: 650px) {
  .encabezado__titulo {
    display: none;
  }
}
.footer__index {
  background: black;
  color: white;
  text-align: center;
  font-size: 1rem;
  line-height: 18px;
  padding: 7px;
}

/* ---- FOOTER P/MOVIL ---- */
@media (max-width: 650px) {
  .footer__index {
    font-size: 0.8em;
  }
}
.boton {
  font-size: 0.9rem;
  padding: 3px;
  width: 50px;
  height: fit-content;
  border: 3px black;
  border-radius: 10px;
  border-style: double;
  background: rgb(77, 77, 77);
  color: white;
}

* {
  margin: 0;
  padding: 0;
}

.btn-wsp {
  position: fixed;
  width: 55px;
  height: 55px;
  line-height: 50px;
  bottom: 30px;
  right: 20px;
  background: #0df053;
  color: white;
  border-radius: 50px;
  text-align: center;
  font-size: 40px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
  z-index: 100;
}

.btn-wsp:hover {
  text-decoration: none;
  color: #0df053;
  background: white;
}

.main__index {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
  font-size: 2rem;
  color: white;
  background-image: url(../imagenes/fondo-alternativo.jpg);
  background-size: cover;
}

.animacion1 {
  animation-name: mover-bloque1;
  animation-duration: 3s;
}

@keyframes mover-bloque1 {
  0% {
    translate: -400px 300px;
  }
  100% {
    translate: 0px 0px;
  }
}
.animacion2 {
  animation-name: mover-bloque2;
  animation-duration: 4s;
}

@keyframes mover-bloque2 {
  0% {
    translate: 300px 100px;
  }
  100% {
    translate: 0px 0px;
  }
}
/* ---- MAIN INDEX P/MOVIL ---- */
@media (max-width: 650px) {
  .main__index {
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 100%;
    font-size: 1rem;
    background-image: url(../imagenes/fondo-alternativo.jpg);
    background-size: cover;
  }
}
.main__sobre-nosotros {
  background-image: url(../imagenes/fondo-alternativo.jpg);
  background-size: cover;
}

.section__presentacion {
  padding: 15px;
  text-align: center;
  font-size: 1.3rem;
}

.titulo-galeria {
  font-size: 3rem;
  color: rgb(17, 17, 53);
  text-decoration-line: underline;
}

.galeria {
  padding: 40px 20px;
  gap: 10px;
  display: grid;
  justify-content: space-evenly;
  grid-template-columns: 3 1fr;
  grid-template-rows: 4 1fr;
  grid-template-areas: "uno dos tres" "cuatro cinco seis" "siete ocho nueve" "diez once doce";
}

.uno {
  grid-area: uno;
}

.dos {
  grid-area: dos;
}

.tres {
  grid-area: tres;
}

.cuatro {
  grid-area: cuatro;
}

.cinco {
  grid-area: cinco;
}

.seis {
  grid-area: seis;
}

.siete {
  grid-area: siete;
}

.ocho {
  grid-area: ocho;
}

.nueve {
  grid-area: nueve;
}

.diez {
  grid-area: diez;
}

.once {
  grid-area: once;
}

.doce {
  grid-area: doce;
}

.img-galeria {
  background-color: rgba(25, 18, 87, 0.397);
  border: 3px solid rgb(4, 8, 39);
  width: 20em;
  height: 22em;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ---- MAIN P/ TABLET  ---- */
@media (max-width: 1000px) {
  .galeria {
    padding: 40px 20px;
    gap: 10px;
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: 2 1fr;
    grid-template-rows: 6 1fr;
    grid-template-areas: "uno dos" "tres cuatro" "cinco seis" "siete ocho" "nueve diez" "once doce";
  }
}
/* ---- MAIN P/ CELU  ---- */
@media (max-width: 700px) {
  .section__presentacion {
    padding: 15px;
    text-align: center;
    font-size: 1.3rem;
  }
  .galeria {
    display: grid;
    justify-content: center;
    grid-template-columns: 2 1fr;
    grid-template-rows: 12 1fr;
    grid-template-areas: "uno vacio" "dos vacio" "tres vacio" "cuatro vacio" "cinco vacio" "seis vacio" "siete vacio" "ocho vacio" "nueve vacio" "diez vacio" "once vacio" "doce vacio";
  }
  .uno img,
  .tres img,
  .cuatro img,
  .cinco img,
  .ocho img,
  .doce img {
    width: 200px;
  }
  .dos img,
  .siete img,
  .nueve img,
  .diez img,
  .once img {
    width: 180px;
  }
  .seis img {
    width: 150px;
  }
  .img-galeria {
    width: 15em;
    height: 16em;
    border-radius: 20px;
  }
}
.productos {
  background-image: url(../imagenes/fondo-alternativo.jpg);
  background-size: cover;
  color: black;
}
.productos__titulo {
  padding: 30px;
  text-align: center;
  font-size: 2.5rem;
}

.container {
  width: 100%;
  display: flex;
  max-width: 1200px;
}

.card {
  width: 100%;
  margin: 20px;
  border-radius: 10px;
  overflow: hidden;
  background: white;
  border: 2px solid rgb(123, 26, 26);
  box-shadow: 0px 1px 10px rgba(104, 103, 103, 0.2);
  cursor: default;
  transition: all 400ms ease;
}
.card:hover {
  box-shadow: 10px 10px 30px black;
  transform: translateY(-3%);
}
.card img {
  width: 100%;
  height: 200px;
}

.contenido {
  text-align: center;
  background: rgba(128, 128, 128, 0.548);
  border-top: 2px solid rgb(123, 26, 26);
}

@media (max-width: 650px) {
  .productos__titulo {
    font-size: 1.5rem;
    padding: 20px;
    margin: 0;
  }
}
.carta-box {
  margin: auto;
  text-align: center;
  width: 255px;
  height: 246px;
  position: relative;
  perspective: 1000px;
  border: 2px solid black;
}

.carta-box:hover .carta {
  transform: rotateY(180deg);
}

.carta {
  transform-style: preserve-3d;
  transition: all 0.5s linear;
}

.cara {
  position: absolute;
  backface-visibility: hidden;
}
.cara h3 {
  padding: 4px;
  background-color: rgb(154, 151, 151);
}

.cara.detras {
  transform: rotateY(180deg);
}

.detras p {
  margin-bottom: 0;
  font-size: 0.9rem;
}

.subtitulo {
  font-size: 1.2rem;
}
.subtitulo-tipos {
  font-size: 1rem;
}

.contenedor-cartas {
  display: grid;
  gap: 20px;
  padding-top: 20px;
  padding-bottom: 30px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas: "col1 col2 col3" "col4 col5 col6" "col7 col8 col9" "col10 col1 col12";
}

.carta1 {
  grid-area: col1;
}

.carta2 {
  grid-area: col2;
}

.carta3 {
  grid-area: col3;
}

.carta4 {
  grid-area: col4;
}

.carta5 {
  grid-area: col5;
}

.carta6 {
  grid-area: col6;
}

.carta7 {
  grid-area: col7;
}

.carta8 {
  grid-area: col8;
}

.carta9 {
  grid-area: col9;
}

.carta10 {
  grid-area: col10;
}

.carta11 {
  grid-area: col11;
}

.carta12 {
  grid-area: col12;
}

@media (max-width: 1000px) {
  .contenedor-cartas {
    display: grid;
    gap: 20px;
    padding-top: 20px;
    padding-bottom: 30px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas: "col1 col2" "col3 col4" "col5 col6" "col7 col8" "col9 col10" "col1 col12";
  }
}
@media (max-width: 650px) {
  .contenedor-cartas {
    display: flex;
    flex-direction: column;
  }
  .carta-box {
    width: 300px;
    height: 270px;
  }
  .carta-box img {
    width: 295px;
    height: 230px;
  }
}
.servicios {
  background-image: url(../imagenes/fondo-alternativo.jpg);
  background-size: cover;
  color: black;
}
.servicios__titulo {
  padding: 30px;
  text-align: center;
  font-size: 2.5rem;
}

.container {
  width: 100%;
  display: flex;
  max-width: 1200px;
}

.card {
  width: 100%;
  margin: 20px;
  border-radius: 10px;
  overflow: hidden;
  background: white;
  border: 2px solid rgb(123, 26, 26);
  box-shadow: 0px 1px 10px rgba(104, 103, 103, 0.2);
  cursor: default;
  transition: all 400ms ease;
}
.card:hover {
  box-shadow: 10px 10px 30px black;
  transform: translateY(-3%);
}
.card img {
  width: 100%;
  height: 200px;
}

.contenido {
  text-align: center;
  background: rgba(128, 128, 128, 0.548);
  border-top: 2px solid rgb(123, 26, 26);
}

/* ---- MAIN SERVICIOS - PARA TABLET ---- */
@media (max-width: 1200px) {
  .container {
    max-width: 600px;
    gap: 2em 5em;
    display: grid;
    justify-items: center;
    grid-template-columns: 2 1fr;
    grid-template-rows: 2 1fr;
    grid-template-areas: "card1 card2" "card3 card4";
  }
  .card1 {
    grid-area: card1;
  }
  .card2 {
    grid-area: card2;
  }
  .card3 {
    grid-area: card3;
  }
  .card4 {
    grid-area: card4;
  }
}
/* ---- MAIN SERVICIOS - PARA MOVIL---- */
@media (max-width: 650px) {
  .container {
    gap: 2em 5em;
    display: grid;
    justify-items: center;
    grid-template-columns: 1 1fr;
    grid-template-rows: 4 1fr;
    grid-template-areas: "card1" "card2" "card3" "card4";
  }
  .card1 {
    grid-area: card1;
  }
  .card2 {
    grid-area: card2;
  }
  .card3 {
    grid-area: card3;
  }
  .card4 {
    grid-area: card4;
  }
  .card {
    width: 270px;
  }
}
.lista-servicios {
  list-style: disc;
}

.contenedor {
  display: grid;
}

.hijo {
  margin: auto;
}

.seccion-servicios {
  padding: 30px;
  gap: 50px;
  font-size: 1.1rem;
}

.titulo-secundario {
  text-align: center;
}

.lista-servicios-complementarios {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
}
.lista-servicios-complementarios a {
  text-decoration: none;
  color: rgb(146, 26, 26);
  border-bottom: 2px solid rgb(59, 8, 8);
}

@media (max-width: 1200px) {
  .lista-servicios-complementarios {
    padding-left: 0;
    margin-left: 0;
  }
}
@media (max-width: 650px) {
  .servicios__titulo {
    font-size: 1.5rem;
    padding: 20px;
    margin: 0;
  }
  .servicios-titulo {
    font-size: 1.3rem;
  }
  .lista-servicios-complementarios {
    display: grid;
    grid-template-columns: 2 1fr;
    grid-template-rows: 2 1fr;
    grid-template-areas: "list1 list2" "list3 list4";
    gap: 25px;
  }
  .list1 {
    grid-area: list1;
  }
  .list2 {
    grid-area: list2;
  }
  .list3 {
    grid-area: list3;
  }
  .list4 {
    grid-area: list4;
  }
}
.contacto {
  background-image: url(../imagenes/fondo-alternativo.jpg);
  background-size: cover;
  color: black;
}

.contacto__titulo {
  font-size: 2.5rem;
}

.titulo-form {
  font-size: 1.5rem;
  text-align: center;
}

.contacto__formulario {
  border-radius: 15px;
  border: 5px solid rgb(46, 45, 45);
  width: 400px;
  height: fit-content;
  padding-bottom: 5px;
  background: rgba(128, 128, 128, 0.639);
  display: grid;
}

.imput-group {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.itemsform {
  padding: 0px 5px;
  color: #202d21;
  font-size: 0.9rem;
  margin-bottom: 5px;
}
.itemsform:hover {
  font-size: 1rem;
  color: #7a1212;
}
.itemsform-imputs {
  width: 390px;
  font-size: 0.9rem;
  padding: 0px 10px;
  border-radius: 20px;
  margin-bottom: 5px;
  background-color: #EDFFF0;
  border: 2px solid #f0faf1;
}

.boton-contacto {
  font-size: 1rem;
  color: #ffffff;
  border: 0;
  border-radius: 25px;
  background-color: #51d94c;
  box-shadow: 0 0 5px rgba(25, 254, 0, 0.4);
  width: 390px;
  cursor: pointer;
}
.boton-contacto:hover {
  background-color: #54ae2b;
  color: rgb(255, 255, 255);
}

.contenedor-contacto {
  padding: 80px 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 30px;
}

.contenedor-tarjetas {
  padding: 20px;
  display: flex;
  justify-content: space-around;
  gap: 30px;
}

.tarjetas {
  border-radius: 15px;
  border: 5px solid rgb(46, 45, 45);
  width: 800px;
  height: 300px;
  background: rgba(128, 128, 128, 0.639);
  display: grid;
}
.tarjetas span {
  text-align: center;
  font-size: 1.8rem;
  color: rgb(24, 22, 82);
}
.tarjetas__card2 {
  place-self: center;
}
.tarjetas__card3 {
  place-self: center;
  font-size: 1.3rem;
}
.tarjetas__card3-titulo {
  text-align: center;
  padding-bottom: 10px;
  align-self: center;
}

.tarjetas-mapa {
  border-radius: 15px;
  border: 5px solid rgb(46, 45, 45);
  width: 800px;
  height: 300px;
  background: rgba(128, 128, 128, 0.639);
  display: grid;
}

.img-contacto {
  justify-self: center;
}

.contacto__formulario-maps {
  margin: auto;
  padding: 10px;
}

/* --- adaptacion tablet --- */
@media (max-width: 1200px) {
  .imagen-contacto {
    display: none;
  }
  .contenedor-contacto {
    display: grid;
  }
  .contacto__formulario {
    width: 600px;
    height: fit-content;
    margin: auto;
  }
  .itemsform-imputs {
    width: 590px;
  }
  .tarjetas {
    width: 400px;
    padding: 5px;
  }
  .tarjetas-mapa {
    display: none;
  }
}
@media (max-width: 650px) {
  .contacto__titulo {
    font-size: 1.5rem;
    padding: 20px;
    margin: 0;
  }
  .contenedor-tarjetas {
    display: flex;
    flex-direction: column;
  }
  .contacto__formulario {
    width: fit-content;
    margin: auto;
  }
  .itemsform-imputs {
    width: 300px;
  }
  .tarjetas {
    width: 280px;
    margin: auto;
  }
}

/*# sourceMappingURL=styles.css.map */
