* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

$titulo-principal: 1.5rem;
$titulo-principal: rgb(232, 226, 226);


h2 {
    padding-top: 20px;
    font-size: $titulo-principal;
    color: $titulo-principal;
    text-align: center;
}