.contacto {
    background-image: url(../imagenes/fondo-alternativo.jpg);
    background-size: cover;
    color: black;
}

.contacto__titulo{
    font-size: 2.5rem;
}

.contacto__formulario {
        border-radius: 15px;
        border: 5px solid rgb(46, 45, 45);
        width: 500px;
        height: fit-content;
        padding-bottom: 5px;
        background: rgba(128, 128, 128, 0.639);
        display: grid;

        &-item {
            place-self: center;
            font-size: 0.9rem;
        }
}

.contenedor-contacto {
    padding: 80px 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 30px;
}

.contenedor-tarjetas {
    padding: 20px;
    display: flex;
    justify-content: space-around;
    gap: 30px;
}

.tarjetas {
    border-radius: 15px;
    border: 5px solid rgb(46, 45, 45);
    width: 800px;
    height: 300px;
    background: rgba(128, 128, 128, 0.639);
    display: grid;

    & span {
        text-align: center;
        font-size: 1.8rem;
        color: rgb(24, 22, 82);
    }

    &__card2 {
        place-self: center;
    }

    &__card3 {
        place-self: center;
        font-size: 1.3rem;

        &-titulo {
            text-align: center;
            padding-bottom: 10px;
            align-self: center;
        }
    }
    
}

.tarjetas-mapa {
    border-radius: 15px;
    border: 5px solid rgb(46, 45, 45);
    width: 800px;
    height: 300px;
    background: rgba(128, 128, 128, 0.639);
    display: grid;
}

.img-contacto {
    justify-self: center;
}

.contacto__formulario-maps{
    margin: auto;
    padding: 10px;
    

}

/* --- adaptacion tablet --- */

@media (max-width: 1200px) {
    .imagen-contacto {
        display: none;
    }

    .contenedor-contacto {
    display: grid;
    }

    .contacto__formulario {
        width: 600px;
        height: fit-content;
        margin: auto;
    }

    .tarjetas {
        width: 400px;
        padding: 5px;
    }

    .tarjetas-mapa {
        display: none;
    }
}

@media (max-width: 650px) {

    .contacto__titulo {
        font-size: 1.5rem;
        padding: 20px;
        margin: 0;
    }

    .contenedor-tarjetas {
        display: flex;
        flex-direction: column;
    }

    .contacto__formulario {
        width: fit-content;
        margin: auto;
    }

    .tarjetas {
        width: fit-content;
        margin: auto;
    }

}