.contacto {
    background-image: url(../imagenes/fondo-alternativo.jpg);
    background-size: cover;
    color: black;

    &__titulo {
        font-size: 2rem;
        text-align: center;
        padding: 20px;
    }

    &__formulario {
        display: flex;
        justify-content: center;
        text-align: end;
        line-height: 30px;
        padding: 20px;

        &-maps {
            display: flex;
            justify-content: center;
            padding: 20px;
        }
    }
}