.main__index {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
    font-size: 2rem;
    color: white;
    background-image: url(../imagenes/fondo-alternativo.jpg);
    background-size: cover;
}

.animacion1 {
    animation-name: mover-bloque1;
    animation-duration: 3s;
}

@keyframes mover-bloque1 {
    0% {
        translate: -400px 300px;
    }

    100% {
        translate: 0px 0px;
    }
}

.animacion2 {
    animation-name: mover-bloque2;
    animation-duration: 4s;
}

@keyframes mover-bloque2 {
    0% {
        translate: 300px 100px;
    }

    100% {
        translate: 0px 0px;
    }
}

/* ---- MAIN INDEX P/MOVIL ---- */
@media (max-width:650px) {
    .main__index {
        display: flex;
        flex-direction: column;
        gap: 20px;
        height: 100%;
        font-size: 1rem;
        background-image: url(../imagenes/fondo-alternativo.jpg);
        background-size: cover;
    }
}