

.main__index {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
    font-size: 2rem;
    color: white;
    height: 100vh;
}


/* ---- MAIN INDEX P/MOVIL ---- */
@media (max-width:650px) {
    .main__index {
        display: flex;
        flex-direction: column;
        gap: 20px;
        height: 100%;
        font-size: 1rem;
    }
}