.carta-box {
    background: linear-gradient(to bottom left, rgb(138, 18, 18), rgb(0, 0, 0));
    margin: auto;
    text-align: center;
    width: 304px;
    height: 316px;
    position: relative;
    perspective: 1000px;
    border: 2px solid black;
}

.link-prod a {
    display: none;
}

.next-pag {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-bottom: 20px;

    & a {
        text-decoration: none;
        font-size: 2rem;

        &:hover {
            color: black;
        }
    }

}


.img-prod1 {
    display: flex;
    flex-direction: column;
}

.carta-box:hover .carta {
    transform: rotateY(180deg);
}

.carta {
    transform-style: preserve-3d;
    transition: all 0.5s linear;
}

.cara {
    display: grid;
    justify-content: space-evenly;
    position: absolute;
    backface-visibility: hidden;

    & h3 {
        color: white;
        padding-top: 5px;
    }

}

.cara.detras {
    transform: rotateY(180deg);
}

.detras p {
    color: white;
    margin-top: 5px;
    margin-right: 45px;
    text-align: start;
    font-size: 0.9rem;
}

.subtitulo {
    color: white;
    font-size: 1.2rem;

    &-tipos {
        color: white;
        font-size: 1rem;
    }
}

.contenedor-cartas {
    display: grid;
    gap: 20px;
    padding-top: 20px;
    padding-bottom: 30px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(8, 1fr);
    grid-template-areas:
        "col1 col2 col3"
        "col4 col5 col6"
        "col7 col8 col9"
        "col10 col11 col12"
        "col13 col4 col15"
        "col16 col17 col18"
        "col19 col20 col21"
        "col22 col23 col24";
}

.carta1 {
    grid-area: col1;
}

.carta2 {
    grid-area: col2;
}

.carta3 {
    grid-area: col3;
}

.carta4 {
    grid-area: col4;
}

.carta5 {
    grid-area: col5;
}

.carta6 {
    grid-area: col6;
}

.carta7 {
    grid-area: col7;
}

.carta8 {
    grid-area: col8;
}

.carta9 {
    grid-area: col9;
}

.carta10 {
    grid-area: col10;
}

.carta11 {
    grid-area: col11;
}

.carta12 {
    grid-area: col12;
}

.carta13 {
    grid-area: col13;
}

.carta14 {
    grid-area: col14;
}

.carta15 {
    grid-area: col15;
}

.carta16 {
    grid-area: col16;
}

.carta17 {
    grid-area: col17;
}

.carta18 {
    grid-area: col18;
}

.carta19 {
    grid-area: col19;
}

.carta20 {
    grid-area: col20;
}

.carta21 {
    grid-area: col21;
}

.carta22 {
    grid-area: col22;
}

.carta23 {
    grid-area: col23;
}

.carta24 {
    grid-area: col24;
}




@media (max-width: 1000px) {
    .contenedor-cartas {
        display: grid;
        gap: 20px;
        padding-top: 20px;
        padding-bottom: 30px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(12, 1fr);
        grid-template-areas:
            "col1 col2"
            "col3 col4"
            "col5 col6"
            "col7 col8"
            "col9 col10"
            "col1 col12"
            "col13 col4"
            "col15 col16"
            "col17 col18"
            "col19 col20"
            "col21 col22"
            "col23 col24";
    }

    .link-prod {
        display: flex;
        justify-content: space-around;
        align-items: baseline;

        & a {
            display: flex;
            text-decoration: none;
            color: rgb(43, 44, 106);
            background: rgba(181, 178, 178, 0.817);
            padding: 0px 4px;
            border: 2px solid black;
            border-radius: 20px;
        }
    }
}

@media (max-width: 650px) {
    .contenedor-cartas {
        display: flex;
        flex-direction: column;
    }

    .carta-box {
        width: 300px;
        height: 316px;

        & img {
            width: 295px;
            height: 230px;
        }
    }

    .cara h3 {
        padding-top: 15px;
    }
}