.productos {
    background-image: url(../imagenes/fondo-alternativo.jpg);
    background-size: cover;

    &__titulo {
        padding: 30px;
        text-align: center;
        font-size: 2.5rem;
    }
}
    .productos__imgenes {
        display: grid;
        padding: 30px 5px;
        justify-items: center;
        text-align: center;
        font-size: 1.3rem;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas:
            "productos__imagenes--img1 productos__imagenes--img2"
            "productos__imagenes--img3 productos__imagenes--img4";
    }

    .productos__imagenes--img1 {
        grid-area: productos__imagenes--img1;
    }
    .productos__imagenes--img2 {
        grid-area: productos__imagenes--img2;
    }
    .productos__imagenes--img3 {
        grid-area: productos__imagenes--img3;
    }
    .productos__imagenes--img4 {
        grid-area: productos__imagenes--img4;
    }


    /* ---- MAIN PRODUCTOS - PARA TABLET ---- */

@media (min-width:650px) and (max-width:1000px) {
    .productos__imgenes img {
        width: 200px;
    }

    .productos__imgenes {
        font-size: 1.2rem;
    }
}

/* ---- MAIN PRODUCTOS - PARA MOVIL ---- */

@media (max-width: 650px) {
    .productos__imgenes {
        display: flex;
        flex-direction: column;
        font-size: 1rem;
        gap: 30px;
    }

    .productos__imgenes img {
        width: 180px;
    }

    .productos__titulo {
        font-size: 1.5rem;
    }
}

