.main__sobre-nosotros {
    background-image: url(../imagenes/fondo-alternativo.jpg);
    background-size: cover;
}

.section {
    padding: 15px;
    color: black;

    &__presentacion {
        padding: 15px;
        text-align: center;
        font-size: 1.3rem;
    }

    &__consulta {
        padding-top: 20px;
        text-align: center;
        font-size: 1.3rem;
    }
}

/* ---- MAIN P/ CELU  ---- */

@media (max-width: 650px) {
    .section {
        font-size: 1rem;

        &__presentacion {
            font-size: 0.9rem;
        }

        &__testimonios {
            font-size: 0.9rem;
        }

        &__consulta {
            font-size: 0.9rem;
        }
    }
}