* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.items {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    gap: 10px;
    border-bottom: 2px solid rgb(87, 84, 84);
}
.encabezado__titulo {
    color: white;
}

@media (max-width: 650px) {
    .encabezado__titulo {
        display: none;
    }
}